.header{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
}
.headerslika{
    margin-left: -50px;
    background-image: url("https://www.djaksport.com/Images/Djak/v3/djaklogo1.svg");
    background-size: cover;
    width:330px;
    height: 90px;
}
.forma{
    width: 350px;
    height: 50px;
    border-bottom: 0.3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: -20px;
}
.forma input{
   width: 330px;
   height: 40px;
   border: none;
   outline: none;
}
.forma input:focus{
    border: none;
   outline: none;

}
.forma i{
    color:var(--primary);
    font-size: 18px;
}
.call{
    display: flex;
    align-items: center;
}
.call i{
    font-size: 80px;
    color: var(--primary);
}
.header h1{
    margin-left: 10px;
   color: rgb(32, 30, 30);
    font-size: 20px;
}